language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install -r requirements_dev.txt
script:
  - python setup.py sdist bdist_wheel --universal
branches:
  only:
    - master

