[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

colorama = "==0.3.9"
future = "==0.16.0"
"github3.py" = "==0.9.6"
tinydb = "==3.7.0"
ujson = "==1.35"
twine = "*"


[packages]



[requires]

python_version = "3.6"
